URI = mongodb+srv://USER:PASS@nebsit.5nahnsb.mongodb.net/DATABASENAME?retryWrites=true&w=majority&appName=nebsit
TOKEN_SECRET=test
FRONTEND_URL=http://localhost:3000
NODEMAILER_PASS=test
NODEMAILER_USER=test@gmail.com
CARRIER_MAIL=test@gmail.com
CONTACT_MAIL=test@gmail.com
